@import "tailwindcss";
@import "tw-animate-css";

:root {
  --color-red: #bb3b3b;
  --color-maroon: #361518;
  --font-primary: "Poppins", sans-serif;
}
html,
body {
  font-family: Poppins;
  background-color: var(--color-maroon);
  color: white;
  margin: 0;
  padding: 0;
}
.hide-bottom-overflow {
  overflow: visible;
  clip-path: inset(0px 0px 20px 0px); /* top right bottom left */
}
Link {
  cursor: pointer;
}
button {
  cursor: pointer;
}
